deploy/statemachine.asl.json
{
  "Comment": "Interlock pipeline evaluation, trigger, and monitoring workflow",
  "StartAt": "InitDefaults",
  "States": {
    "InitDefaults": {
      "Type": "Pass",
      "Parameters": {
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "date.$": "$.date",
        "executionStartTime.$": "$$.Execution.StartTime"
      },
      "ResultPath": "$",
      "Next": "CheckExclusion"
    },
    "CheckExclusion": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkExclusion",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID"
      },
      "ResultPath": "$.checkExclusion",
      "Next": "IsExcluded",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsExcluded": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.checkExclusion.result",
          "StringEquals": "proceed",
          "Next": "AcquireLock"
        }
      ],
      "Default": "End"
    },
    "AcquireLock": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "acquireLock",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID"
      },
      "ResultPath": "$.acquireLock",
      "Next": "IsLockAcquired",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsLockAcquired": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.acquireLock.result",
          "StringEquals": "proceed",
          "Next": "CheckRunLog"
        }
      ],
      "Default": "End"
    },
    "CheckRunLog": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkRunLog",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID"
      },
      "ResultPath": "$.checkRunLog",
      "Next": "ShouldProceedAfterRunLog",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "ShouldProceedAfterRunLog": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.checkRunLog.result",
          "StringEquals": "proceed",
          "Next": "ResolvePipeline"
        }
      ],
      "Default": "ReleaseLock"
    },
    "ResolvePipeline": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "resolvePipeline",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "date.$": "$.date"
      },
      "ResultPath": "$.resolvePipeline",
      "Next": "IsResolved",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsResolved": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.resolvePipeline.result",
          "StringEquals": "proceed",
          "Next": "EvaluateTraits"
        }
      ],
      "Default": "ReleaseLock"
    },
    "EvaluateTraits": {
      "Type": "Map",
      "ItemsPath": "$.resolvePipeline.payload.traits",
      "MaxConcurrency": 0,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "EvaluateSingleTrait",
        "States": {
          "EvaluateSingleTrait": {
            "Type": "Task",
            "Resource": "${EvaluatorFunctionArn}",
            "End": true,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ]
          }
        }
      },
      "ResultPath": "$.traitResults",
      "Next": "CheckValidationTimeout",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "CheckValidationTimeout": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkValidationTimeout",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "executionStartTime.$": "$.executionStartTime"
        }
      },
      "ResultPath": "$.validationTimeout",
      "Next": "IsValidationTimedOut",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsValidationTimedOut": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validationTimeout.payload.validationTimedOut",
          "BooleanEquals": true,
          "Next": "LogNotReady"
        }
      ],
      "Default": "CheckEvaluationSLA"
    },
    "CheckEvaluationSLA": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkEvaluationSLA",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "executionStartTime.$": "$.executionStartTime"
        }
      },
      "ResultPath": "$.evaluationSLA",
      "Next": "CheckReadiness",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "CheckReadiness": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkReadiness",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "traitResults.$": "$.traitResults"
        }
      },
      "ResultPath": "$.checkReadiness",
      "Next": "IsReady",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsReady": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.checkReadiness.result",
          "StringEquals": "proceed",
          "Next": "TriggerPipeline"
        }
      ],
      "Default": "CheckEvalSLAForPoll"
    },
    "LogNotReady": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "logResult",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "status": "PENDING",
          "runID.$": "$.resolvePipeline.payload.runID",
          "message": "not ready - blocking traits"
        }
      },
      "ResultPath": "$.logNotReady",
      "Next": "ReleaseLock",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "CheckEvalSLAForPoll": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkEvaluationSLA",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "executionStartTime.$": "$.executionStartTime"
        }
      },
      "ResultPath": "$.evalSLAForPoll",
      "Next": "IsEvalSLABreachedForPoll",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsEvalSLABreachedForPoll": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.evalSLAForPoll.payload.breached",
          "BooleanEquals": true,
          "Next": "LogNotReady"
        }
      ],
      "Default": "WaitReadiness"
    },
    "WaitReadiness": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "ReleaseLockForRetry"
    },
    "TriggerPipeline": {
      "Type": "Task",
      "Resource": "${TriggerFunctionArn}",
      "Parameters": {
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "trigger.$": "$.resolvePipeline.payload.trigger",
        "runID.$": "$.resolvePipeline.payload.runID"
      },
      "ResultPath": "$.triggerResult",
      "Next": "IsTriggerSuccessful",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.triggerError",
          "Next": "LogTriggerFailed"
        }
      ]
    },
    "IsTriggerSuccessful": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.triggerResult.status",
          "StringEquals": "running",
          "Next": "InitPollCounter"
        },
        {
          "Variable": "$.triggerResult.status",
          "StringEquals": "completed",
          "Next": "CheckCompletionSLA"
        }
      ],
      "Default": "LogTriggerFailed"
    },
    "LogTriggerFailed": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "logResult",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "status": "FAILED",
          "runID.$": "$.resolvePipeline.payload.runID",
          "message": "trigger failed",
          "failureCategory": "TRANSIENT"
        }
      },
      "ResultPath": "$.logTriggerFailed",
      "Next": "IsTriggerRetryable",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsTriggerRetryable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.logTriggerFailed.payload.retryable",
          "BooleanEquals": true,
          "Next": "WaitTriggerRetryBackoff"
        }
      ],
      "Default": "ReleaseLock"
    },
    "WaitTriggerRetryBackoff": {
      "Type": "Wait",
      "SecondsPath": "$.logTriggerFailed.payload.retryBackoffSeconds",
      "Next": "ReleaseLockForRetry"
    },
    "InitPollCounter": {
      "Type": "Pass",
      "Result": {
        "count": 0
      },
      "ResultPath": "$.pollCount",
      "Next": "WaitForRun"
    },
    "WaitForRun": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "PollRunStatus"
    },
    "PollRunStatus": {
      "Type": "Task",
      "Resource": "${RunCheckerFunctionArn}",
      "Parameters": {
        "pipelineID.$": "$.pipelineID",
        "runID.$": "$.resolvePipeline.payload.runID",
        "triggerType.$": "$.resolvePipeline.payload.trigger.type",
        "metadata.$": "$.triggerResult.metadata"
      },
      "ResultPath": "$.pollResult",
      "Next": "EvaluatePollResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "EvaluatePollResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.pollResult.state",
          "StringEquals": "succeeded",
          "Next": "CheckCompletionSLA"
        },
        {
          "Variable": "$.pollResult.state",
          "StringEquals": "failed",
          "Next": "LogRunFailed"
        }
      ],
      "Default": "IncrementPollCount"
    },
    "IncrementPollCount": {
      "Type": "Pass",
      "ResultPath": "$.pollCount",
      "Parameters": {
        "count.$": "States.MathAdd($.pollCount.count, 1)"
      },
      "Next": "CheckPollLimit",
      "Comment": "Increment poll counter"
    },
    "CheckPollLimit": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.pollCount.count",
          "NumericLessThan": 120,
          "Next": "WaitForRun"
        }
      ],
      "Default": "LogTimeout"
    },
    "CheckCompletionSLA": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkCompletionSLA",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "executionStartTime.$": "$.executionStartTime"
        }
      },
      "ResultPath": "$.completionSLA",
      "Next": "LogCompleted",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "LogCompleted": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "logResult",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "status": "COMPLETED",
          "runID.$": "$.resolvePipeline.payload.runID"
        }
      },
      "ResultPath": "$.logCompleted",
      "Next": "NotifyDownstream",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "NotifyDownstream": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "notifyDownstream",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "date.$": "$.date"
      },
      "ResultPath": "$.notifyDownstream",
      "Next": "ReleaseLockSuccess",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "LogRunFailed": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "logResult",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "status": "FAILED",
          "runID.$": "$.resolvePipeline.payload.runID",
          "message.$": "$.pollResult.message",
          "failureCategory.$": "$.pollResult.failureCategory"
        }
      },
      "ResultPath": "$.logRunFailed",
      "Next": "IsRunRetryable",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "IsRunRetryable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.logRunFailed.payload.retryable",
          "BooleanEquals": true,
          "Next": "WaitRetryBackoff"
        }
      ],
      "Default": "ReleaseLock"
    },
    "WaitRetryBackoff": {
      "Type": "Wait",
      "SecondsPath": "$.logRunFailed.payload.retryBackoffSeconds",
      "Next": "ReleaseLockForRetry"
    },
    "ReleaseLockForRetry": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "releaseLock",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID"
      },
      "ResultPath": "$.releaseLockRetry",
      "Next": "AcquireLock",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "LogTimeout": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "logResult",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "status": "FAILED",
          "runID.$": "$.resolvePipeline.payload.runID",
          "message": "run polling timed out after 120 attempts",
          "failureCategory": "TIMEOUT"
        }
      },
      "ResultPath": "$.logTimeout",
      "Next": "ReleaseLock",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "AlertError"
        }
      ]
    },
    "AlertError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${AlertTopicArn}",
        "Subject.$": "States.Format('[ERROR] {} / {}', $.pipelineID, $.scheduleID)",
        "Message.$": "States.JsonToString($.errorInfo)"
      },
      "ResultPath": "$.alertResult",
      "Next": "ReleaseLock",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.alertFailed",
          "Next": "ReleaseLock"
        }
      ]
    },
    "ReleaseLock": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "releaseLock",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID"
      },
      "ResultPath": "$.releaseLock",
      "Next": "End",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "ReleaseLockSuccess": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "releaseLock",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID"
      },
      "ResultPath": "$.releaseLockSuccess",
      "Next": "CheckMonitoringEnabled",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "End"
        }
      ]
    },
    "CheckMonitoringEnabled": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.resolvePipeline.payload.monitoring",
          "BooleanEquals": true,
          "Next": "RecordMonitoringStart"
        }
      ],
      "Default": "End"
    },
    "RecordMonitoringStart": {
      "Type": "Pass",
      "Parameters": {
        "monitoringStartedAt.$": "$$.State.EnteredTime"
      },
      "ResultPath": "$.monitoringContext",
      "Next": "WaitMonitorInterval"
    },
    "WaitMonitorInterval": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "ReEvaluateTraitsMonitoring"
    },
    "ReEvaluateTraitsMonitoring": {
      "Type": "Map",
      "ItemsPath": "$.resolvePipeline.payload.traits",
      "MaxConcurrency": 0,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "EvaluateSingleTraitMonitoring",
        "States": {
          "EvaluateSingleTraitMonitoring": {
            "Type": "Task",
            "Resource": "${EvaluatorFunctionArn}",
            "End": true,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ]
          }
        }
      },
      "ResultPath": "$.monitoringTraitResults",
      "Next": "CheckReadinessMonitoring",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "End"
        }
      ]
    },
    "CheckReadinessMonitoring": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkReadiness",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "traitResults.$": "$.monitoringTraitResults"
        }
      },
      "ResultPath": "$.monitoringReadiness",
      "Next": "IsMonitoringDrift",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "End"
        }
      ]
    },
    "IsMonitoringDrift": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.monitoringReadiness.result",
          "StringEquals": "proceed",
          "Next": "CheckMonitoringExpired"
        }
      ],
      "Default": "HandleLateArrival"
    },
    "HandleLateArrival": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "handleLateArrival",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "runID.$": "$.resolvePipeline.payload.runID",
          "drifted.$": "$.monitoringReadiness.payload.failedTraits"
        }
      },
      "ResultPath": "$.handleLateArrival",
      "Next": "CheckMonitoringExpired",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "End"
        }
      ]
    },
    "CheckMonitoringExpired": {
      "Type": "Task",
      "Resource": "${OrchestratorFunctionArn}",
      "Parameters": {
        "action": "checkMonitoringExpired",
        "pipelineID.$": "$.pipelineID",
        "scheduleID.$": "$.scheduleID",
        "payload": {
          "monitoringStartedAt.$": "$.monitoringContext.monitoringStartedAt"
        }
      },
      "ResultPath": "$.monitoringExpiry",
      "Next": "IsMonitoringExpired",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "End"
        }
      ]
    },
    "IsMonitoringExpired": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.monitoringExpiry.payload.expired",
          "BooleanEquals": true,
          "Next": "End"
        }
      ],
      "Default": "WaitMonitorInterval"
    },
    "End": {
      "Type": "Succeed"
    }
  }
}
